@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@font-face {
    font-family: 'RiaSans-ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/RiaSans-ExtraBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    font-family: 'pretendard';
    font-size: 14px;
}

.full_wrap{
    min-width: 1400px;
    overflow-x: auto;
}

/* header 부분 */

#header_wrap{
    min-width: 1400px;
    width: 100%;
}

.header{
    width: 1320px;
    height: 120px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
}

/* 로그인, 화원가입 */

.top{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    align-items: center;
}

.top>a{
    width: 60px;
    height: 60px;
}

.login{
    position: absolute;
    top: 34px;
    right: 75px;
    display: flex;
    text-align: center;
    width: 120px;
    height: 14px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.login>li>a{
    display: block;
    width: 50px;
    height: 14px;
    font-size: 14px;
}

.login>li>a:hover{
    color: #7c7c7c;
}

/* 로그인, 회원가입 (完) */

.h_gnb{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    height: 40px;
    justify-content: space-between;
}

.h_gnb>li>a{
    display: block;
    width: 264px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    align-content: center;
}

.h_gnb>li>a:hover{
    color: #ef790b;
}

.g_sub{
    text-align: center;
}

.g_sub>li>a{
    background-color: #00534c;
    padding: 20px 20px;
    border-radius: 40px;
    color: #FFF;
    display: block;
    font-size: 20px;
    font-weight: 600;
}

.g_sub>li>a:hover{
    color: #ef790b;
}

/* main_banner 부분 */

#main_banner{
    width: 100%;
    overflow: hidden;
}

.swiper{
    width: 100%;
}

#main_banner .swiper-slide img{
    max-width: 100%;
    object-fit: contain;
    display: block;
}

#main_banner .swiper-slide{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 바로가기 버튼 */

#wrap{
    width: 1320px;
    height: 180px;
    margin: 0 auto;
    position: relative;
}

.Go_gnb{
    position: absolute;
    top: -90px;
    display: flex;
    width: 1320px;
    height: 180px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #00534C;
    box-shadow: 20px 20px 30px 0px #0000003a;
    justify-content: center;
    text-align: center;
    gap: 180px;
    padding: 45px 0px;
    z-index: 99;
}

.Go_gnb>li>a{
    display: inline-block;
    height: 90px;
    box-sizing: border-box;
}

.Go_gnb>li>a>p{
    width: 80px;
    height: 20px;
    box-sizing: border-box;
    margin-top: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.Go_gnb>li>a:hover{
    filter: invert(51%) sepia(66%) saturate(1810%) hue-rotate(357deg) brightness(96%) contrast(95%);
}

/* top_btn 부분 */

.Top_btn{
    width: 88px;
    height: 480px;
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid rgb(156, 156, 156);
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    position: sticky;
    float: right;
    top: 250px;
    right: 70px;
    z-index: 99;
}

.Top_gnb{
    margin: 33px 0px;
}

.Top_gnb>li>a{
    display: block;
    font-size: 12px;
    color: #00534C;
}

.Top_gnb>li>a:hover{
    opacity: 0.7;
}

.Top_gnb>li:nth-child(2){
    padding: 40px 0px;
}

.Top_gnb>li>a>p{
    width: 48px;
    height: 16px;
    padding-top: 6px;
}

.up{
    display: inline-block;
    width: 48px;
    height: 58px;
    box-sizing: border-box;
}

.up>p{
    width: 48px;
    height: 28px;
    font-size: 24px;
    font-weight: bold;
    color: #00534C;
    transform: scale(1);
    transition: all 0.8s;
}

.up>p:hover{
    transform: scale(1.2);
    transition: all 0.8s;
}

.down{
    display: inline-block;
}


/* section_1 부분 */

#section_wrap_1{
    width: 100%;
    min-width: 1400px;
    margin-top: 108px;
}

.section_1{
    width: 1260px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* title 부분 */

.title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.title>img{
    padding-right: 10px;
}

.title>p{
    font-family: 'RiaSans-ExtraBold';
    font-size: 32px;
}

/* title 부분 (完) */

.img_wrap{
    width: 750px;
    height: 600px;
    border-radius: 20px;
    box-sizing: border-box;
    background: url(../img/brand_img.png) no-repeat;
    background-size: cover;
    position: relative;
}

.img_wrap>img{
    position: absolute;
    top: 254px;
    left: 242px;
}

.s_content_1{
    width: 460px;
    height: 370px;
    box-sizing: border-box;
    padding-left: 50px;
}

.s_content_1>h1{
    font-family: 'RiaSans-ExtraBold';
    padding-bottom: 70px;
    font-size: 48px;
    width: 240px;
    height: 60px;
}

.s_content_1>p{
    width: 460px;
    height: 30px;
    font-size: 20px;
    padding-top: 30px;
}

/* section_1 부분 (完) */

/* section_2 부분 */

#section_wrap_2{
    width: 100%;
    height: 960px;
    min-width: 1400px;
    margin-top: 200px;
    background-attachment: fixed;
    background-image: url(../img/section_2.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.section_2{
    width: 1320px;
    height: 960px;
    box-sizing: border-box;
    margin: 0px auto;
    flex-wrap: wrap;
    position: relative;
}

.color_shadow{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50px;
    left: 100px;
    box-shadow:
        inset 8px 8px 16px rgba(0, 0, 0, 0.2),
        inset -8px -8px 16px rgba(255, 255, 255, 0.6);
}

.design{
    width: 660px;
    height: 440px;
    position: absolute;
    top: 0;
    right: 0;
}

.logo_color{
    width: 660px;
    height: 440px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.color{
    position: absolute;
    bottom: 0;
    left: 760px;
    width: 500px;
    height: 440px;
    box-sizing: border-box;
}

.color>li:nth-child(1){
    margin-bottom: 80px;
}

.color>li>img{
    width: 500px;
    height: 180px;
}

/* section_2 부분 (完) */

/* 첫번째 글자 흘려가는 부분 */

#slide_text{
    margin: 200px 0px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/*width를 본인에 맞게 수정하여 사용하세요! --아래 3개*/
.slide_inner {
    width: 3600px;
    /*ul길이의 두배!*/
    display: flex;
    animation: rotate 20s linear infinite;
}

.slide_inner ul {
    display: flex;
    width: 2800px;
    /*li크기를 전부합한것보다 더 여유있게.*/
    justify-content: space-around;
}

.slide_inner ul li {
    width: 900px;
}

/*width를 본인에 맞게 수정하여 사용하세요!*/

.slide_inner ul li:nth-child(1) {
    padding-left: 60px;
}

.slide_inner ul li:nth-child(2) {
    padding-left: 60px;
}

.slide_inner ul li:nth-child(3) {
    padding-left: 60px;
}

.slide_inner ul li img {
    width: 100%;
}

.slide_inner:hover {
    animation-play-state: paused;
}

/*슬라이드에 호버시 애니메이션이 멈추게 만듦*/

@keyframes rotate {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -2800px;
        /*slide_inner의 ul길이와 동일하게 - 설정합니다!*/
    }
}

/* 첫번째 글자 흘려가는 부분 (完) */

/* 아이덴티티 부분 */

#section_wrap_3{
    min-width: 1400px;
    width: 100%;
}

.section_3{
    width: 1320px;
    height: 746px;
    box-sizing: border-box;
    margin: 200px auto;
}

.identity{
    display: flex;
    justify-content: space-between;
}

.identity>li{
    width: 400px;
    height: 600px;
    box-sizing: border-box;
    border-radius: 20px;
}

.Freshness{
    background-image: url(../img/Freshness.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.Sincerity{
    background-image: url(../img/Sincerity.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.Simplicity{
    background-image: url(../img/Simplicity.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.c_box{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 600px;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 0.4s;
}

.box_top{
    width: 353px;
    position:absolute;
    bottom:100%;
    left: 24px;
    z-index:2;
    color:#fff;
    font-size:20px;
    font-weight:bold;
    transition:all 0.8s;
    opacity: 0.5;
    font-size: 72px;
    padding: 54px 0px 188px 0px;
}

.box_bottom{
    position:absolute;
    top:100%;
    left: 50px;
    z-index:2;
    font-weight:bold;
    color:#fff;
    transition:all 0.8s;
    width: 300px;
    height: 222px;
    margin: 0 auto;
    box-sizing: border-box;
}

.box_bottom>p{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.name{
    font-family: 'RiaSans-ExtraBold';
    color: #fff;
    font-size: 26px;
    padding-bottom: 40px;
}

.Freshness:hover .c_box{
    opacity: 1;
}

.Freshness:hover .box_top{
    bottom: 45%;
}

.Freshness:hover .box_bottom{
    top: 50%;
}

.Simplicity:hover .c_box{
    opacity: 1;
}

.Simplicity:hover .box_top{
    bottom: 45%;
}

.Simplicity:hover .box_bottom{
    top: 50%;
}

.Sincerity:hover .c_box{
    opacity: 1;
}

.Sincerity:hover .box_top{
    bottom: 45%;
}

.Sincerity:hover .box_bottom{
    top: 50%;
}

/* 아이덴티티 (完) */

/* 1번째 광고 배너 */

#meal_kit_banner_wrap{
    min-width: 1400px;
    margin-bottom: 200px;
}

.meal_kit_banner{
    background-image: url(../img/banner_1.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    margin: 0 auto;
}

/* 제일 어려운 인기 메뉴 부분 */

.best .swiper-slide h1{
    width: 470px;
    font-family: 'RiaSans-ExtraBold';
    font-size: 36px;
    padding-top: 32px;
}


#section_wrap_4{
    min-width: 1400px;
    width: 1320px;
    margin: 200px auto;
    position: relative;
}

.best .title_best{
    display: flex;
    justify-content: center;
    font-family: 'RiaSans-ExtraBold';
    font-size: 32px;
    padding-bottom: 100px;
}

.best .title_best>img{
    padding-right: 10px;
}

.best{
    text-align: center;
    padding-bottom: 100px;
}

.swiper-button-prev{
    color: #ef790b;
    left: -50px;
    right: auto;
}

.swiper-button-next{
    color: #ef790b;
    right: -50px;
    left: auto;
}

.swiper-button-next:hover{
    opacity: 0.6;
}

.swiper-button-prev:hover{
    opacity: 0.6;
}

.swiper-button-prev::after{
    display: block;
}

.swiper-button-next::after{
    display: block;
}

/*지금 현재 가운데 보이고 있는 슬라이드는 
.swiper-slide-active 라는 클래스를 가지는데 이를 이용해 스타일을 꾸며줌. 
슬라이드가 3개일때 앞뒤로는 swiper-slide-prev, swiper-slide-next 클래스가 부여되는 이를 활용. slide개수가 4개 이상이면 모양이 제대로 잡히지 않으므로, 3개 이하일때 사용할것.*/
.best .swiper-slide-prev{
    transform: scale(0.8);
    opacity: 0.5;
    transition: all 0.6s;
}
.best .swiper-slide-next{
    transform: scale(0.8);
    opacity: 0.5;
    transition: all 0.6s;
}
.best .swiper-slide-active{
    transform: scale(1);
    opacity: 1;
    transition: all 0.6s;
}

/* 인기 메뉴 swiper 부분 (完) */

/* 인기 메뉴 hover 부분 */

.best .swiper-slide{
    position: relative;
    z-index: 1;
}

.best .swiper-slide .hover-img{
    position: absolute;
    top: 20px;
    left: 65px;
    transform: translateY(10px);
    transition: all 1s;
    z-index: -1;
}

.best .swiper-slide-active:hover .hover-img{
    transform: translateY(-134px);
    transition: all 1s;
}

.swiper-pagination-bullet {
    background-color: gray; /* 기본 도트 색상 */
    opacity: 0.7; /* 불투명하게 */
}
  
.swiper-pagination-bullet-active {
    background-color: #ef790b; /* 활성화된 도트 색상 */
}

/* 인기 메뉴 hover (完) */


/* section_5 신선한끼 메뉴 부분 */

#section_5_wrap{
    min-width: 1400px;
}

#wrapper{
    width: 1320px;
    margin: 200px auto;
}

.menu_title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.menu_title>img{
    padding-right: 10px;
}

.menu_title>p{
    font-family: 'RiaSans-ExtraBold';
    font-size: 32px;
}
  
.tabs{
    display: flex;
    justify-content: center;
    gap: 50px;
}
  
.tabs>li>span{
    display: block;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    width: 120px;
    height: 30px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 4px;
}

.tab_content>img{
    margin: 40px 0px 60px 0px;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.m_box{
    width: 400px;
    height: 430px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    padding: 22px 60px 40px 60px;
    border: 1px solid #ef790b;
    box-shadow: 0px 0px 0px #ef790b;
    transition: all 0.6s;
}

.m_box:hover{
    box-shadow: 0px 0px 15px #ef790b;
    transition: all 0.6s;
}

.m_box:hover img{
    transform: scale(1.2);
    transition: all 0.6s;
}

.view_more{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #676767;
    padding: 10px 20px;
}

.m_box_1{
    width: 400px;
    height: 430px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #ef790b;
    padding: 80px 60px 40px 60px;
    box-shadow: 0px 0px 0px #ef790b;
    transition: all 0.6s;
}

.m_box_1:hover{
    box-shadow: 0px 0px 15px #ef790b;
    transition: all 0.6s;
}

.m_box_1:hover img{
    transform: scale(1.2);
    transition: all 0.6s;
}

.m_box>img{
    display: block;
    transform: scale(1);
    transition: all 1s;
    justify-content: center;
}

.m_box_1>img{
    display: block;
    transform: scale(1);
    transition: all 1s;
    justify-content: center;
}

.BEST{
    display: inline-block;
    justify-content: center;
    width: 70px;
    height: 36px;
    box-sizing: border-box;
    border: 2px solid #f8bc00;
    font-size: 24px;
    font-weight: 600;
    color: #f8bc00;
    margin-bottom: 22px;
}

.HOT{
    display: inline-block;
    justify-content: center;
    width: 70px;
    height: 36px;
    box-sizing: border-box;
    border: 2px solid #ff0000;
    font-size: 24px;
    font-weight: 600;
    color: #ff0000;
    margin-bottom: 22px;
}

.content{
    align-items: center;
    font-size: 18px;
    height: 20px;
    padding: 30px 0px;
}

.m_name{
    font-size: 24px;
    font-family: 'RiaSans-ExtraBold';
    height: 30px;
}

.tab_content:nth-child(4)>.menu>.m_box_1>img{
    padding-left: 78px;
}
  
  /*지금 클릭한 tab부분을 나타내는 클래스는 li에 active라는 이름으로 붙는다.*/
.tabs li.active{
    border-bottom: 3px solid #f6b371;
}

/* 신선한끼 메뉴 (完) */

/* 두번째 글자 흘려가는 부분 */

#slide_text_2{
    margin: 200px 0px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/*width를 본인에 맞게 수정하여 사용하세요! --아래 3개*/
.slide_inner_2{
    width: 3600px;
    /*ul길이의 두배!*/
    display: flex;
    animation: slideright 20s linear infinite;
}

.slide_inner_2 ul {
    display: flex;
    width: 2800px;
    /*li크기를 전부합한것보다 더 여유있게.*/
    justify-content: space-around;
}

.slide_inner_2 ul li {
    width: 900px;
}

/*width를 본인에 맞게 수정하여 사용하세요!*/

.slide_inner_2 ul li:nth-child(1) {
    padding-left: 60px;
}

.slide_inner_2 ul li:nth-child(2) {
    padding-left: 60px;
}

.slide_inner_2 ul li:nth-child(3) {
    padding-left: 60px;
}

.slide_inner_2 ul li img {
    width: 100%;
}

.slide_inner_2:hover {
    animation-play-state: paused;
}

/*슬라이드에 호버시 애니메이션이 멈추게 만듦*/

@keyframes slideright {
    0% {
        margin-left: -2800px;
    }

    100% {
        margin-left: 0px;
        /*slide_inner의 ul길이와 동일하게 - 설정합니다!*/
    }
}

/* 두번째 흘려가는 글자 (完) */

/* 이달의 한끼 */

#section_wrap_6{
    min-width: 1400px;
}

.section_6{
    width: 1320px;
    margin: 200px auto;
}

.b_wrap{
    width: 1320px;
    height: 700px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.b_1{
    width: 810px;
    height: 700px;
    box-sizing: border-box;
    border-radius: 50px 0px 0px 50px;
    background-color: #fff7b3;
    text-align: center;
    padding: 100px 0px 70px 0px;
    position: relative;
}

.b_1>img{
    transform: scale(1);
    transition: all 1s;
}

.b_1:hover>img{
    transform: scale(1.2);
    transition: all 1s;
}

.gold{
    position: absolute;
    top: 0;
    left: 100px;
    width: 122px;
    height: 176px;
    box-sizing: border-box;
    background-image: url(../img/medal_gold.png);
    background-repeat: no-repeat;
    background-position: center;
}

.b_2{
    position: relative;
    width: 490px;
    height: 340px;
    box-sizing: border-box;
    padding: 85px 0px 25px 0px;
    background-color: #fff7b3;
    border-radius: 0px 50px 0px 0px;
    text-align: center;
    margin-bottom: 20px;
}

.b_2>img{
    transform: scale(1);
    transition: all 1s;
}

.b_2:hover>img{
    transform: scale(1.1);
    transition: all 1s;
}

.sliver{
    position: absolute;
    top: 0;
    left: 70px;
    width: 80px;
    height: 112px;
    box-sizing: border-box;
    background-image: url(../img/medal_sliver.png);
    background-repeat: no-repeat;
    background-position: center;
}

.b_3{
    position: relative;
    text-align: center;
    width: 490px;
    height: 340px;
    box-sizing: border-box;
    padding: 85px 0px 25px 0px;
    background-color: #fff7b3;
    border-radius: 0px 0px 50px 0px;
}

.b_3>img{
    transform: scale(1);
    transition: all 1s;
}

.b_3:hover>img{
    transform: scale(1.1);
    transition: all 1s;
}

.brozen{
    position: absolute;
    top: 0;
    left: 70px;
    width: 80px;
    height: 112px;
    box-sizing: border-box;
    background-image: url(../img/medal_brozen.png);
    background-repeat: no-repeat;
    background-position: center;
}

.b_1>img{
    height: 350px;
}

.b_1>p{
    font-size: 24px;
}

.b_1>h3{
    font-family: 'RiaSans-ExtraBold';
    font-size: 36px;
    padding: 20px 0px 40px 0px;
}

.b_2>h3{
    font-family: 'RiaSans-ExtraBold';
    font-size: 20px;
}

.b_3>h3{
    font-family: 'RiaSans-ExtraBold';
    font-size: 20px;
}

/* 이달의 한끼 (完) */


/* 2번째 광고 배너 */

#meal_kit_banner_wrap{
    min-width: 1400px;
    margin-bottom: 200px;
}

.meal_kit_banner_2{
    background-image: url(../img/banner_2.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    margin: 0 auto;
}

/* 2번째 광고 배너 (完) */

/* 이벤트 부분 */

#event_wrap{
    min-width: 1400px;
    margin-bottom: 200px;
}

.event{
    width: 1320px;
    margin: 0 auto;
}

.e_banner{
    display: flex;
    justify-content: space-between;
}

/* 후기글 부분 */

#review_wrap{
    margin-bottom: 200px;
    min-width: 1400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.review{
    margin: 0 auto;
    display: flex;
    width: 5200px;
    /*ul길이의 두배!*/
    animation: slideright_review 28s linear infinite;
}

.review_gnb{
    display: flex;
    gap: 50px;
    width: 2800px;
    /*li크기를 전부합한것보다 더 여유있게.*/
    justify-content: space-around;
}

.review_gnb:nth-child(1){
    padding-right: 50px;
}

.review:hover{
    animation-play-state: paused;
}

.review_gnb>li:hover>img{
    transform: rotateY(360deg);
    transition: all 1s;
}

.review_gnb>li:hover{
    transform: translateY(-30px);
    transition: all 1s;
}


/*슬라이드에 호버시 애니메이션이 멈추게 만듦*/

@keyframes slideright_review {
    0% {
        margin-left: -2800px;
    }

    100% {
        margin-left: 0px;
        /*slide_inner의 ul길이와 동일하게 - 설정합니다!*/
    }
}

.information{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.review_gnb>li{
    width: 340px;
    height: 440px;
    box-sizing: border-box;
    border: 2px solid #949494;
    border-radius: 20px;
    padding: 30px 40px 40px 40px;
    transform: translateY(0px);
    transition: all 1s;
}

.review_gnb>li>img{
    padding: 0px 50px;
    margin-bottom: 20px;
}

.review_text{
    width: 260px;
    height: 130px;
    box-sizing: border-box;
    line-height: 22px;
}

.r_content>img{
    margin-bottom: 20px;
}

.date{
    font-weight: 300;
}

/* 고객센터 부분 */

#Customer_Support{
    min-width: 1400px;
    margin-bottom: 200px;
}

.Support{
    width: 1320px;
    margin: 0 auto;
}

.tabs2{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 40px;
}
  
.tabs2>li>span{
    display: block;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    width: 120px;
    height: 30px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 4px;
}

.tabs2 li.active{
    border-bottom: 3px solid #ef790b;
}

/* FAQ 부분 */

.Support_wrap{
    width: 1320px;
    height: 772px;
    box-sizing: border-box;
    padding: 40px 60px;
    border: 2px solid #ef790b;
    border-radius: 20px;
}

.Support_wrap>h3{
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
}

.Support_wrap>p{
    color: #676767;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 40px;
}

.FAQ>ul>li{
    width: 1200px;
    height: auto;
    box-sizing: border-box;
    padding: 20px;
    border: 2px solid #ef790b;
    border-radius: 10px;
    margin-bottom: 20px;
}

.title_FAQ{
    width: 1150px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.FAQ_content{
    width: 710px;
    height: 40px;
    box-sizing: border-box;
    margin-left: 40px;
    display: flex;
}

.FAQ_content>img{
    margin-right: 20px;
}

.title_in{
    width: 480px;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_in>p{
    width: 420px;
    height: 36px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 500;
    vertical-align: middle;
}

.text_info{
    width: 650px;
    height: 36px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
}

.turn .plus img {
	transform:rotateX(180deg);
}

.plus img {
	transition: transform 0.5s;
}


/* 공지사항 부분 */

.notion_wrap{
    width: 1180px;
    height: 160px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid #ef790b;
    position: relative;
}

.notion_wrap:nth-child(2){
    margin: 46px 0px;
}

.notion_wrap>h4{
    font-size: 24px;
    font-weight: bold;
}

.notion_wrap>p{
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    bottom: 20px;
}

/* 문의상담 부분 */

#contactForm{
    margin-top: 36px;
    margin-left: 120px;
    width: 500px;
    height: 380px;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    position: relative;
}

label{
    display: inline-block;
    width: 64px;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.form-row>#name{
    display: inline-block;
    width: 250px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #000;
    color: #4b4b4b;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 20px;
}

.form-row>#email{
    display: inline-block;
    width: 436px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #000;
    color: #4b4b4b;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 20px;
}

.form-row{
    display: flex;
    align-items: flex-start; /* textarea 높이 고려해서 top에 맞춤 */
}

.form-row:nth-child(2){
    margin: 20px 0px;
}

textarea{
    font-family: 'pretendard';
    width: 436px;
    height: 200px;
    box-sizing: border-box;
    border: 1px solid #000;
    font-size: 16px;
    font-weight: 300;
    color: #4b4b4b;
    padding: 10px 20px;
}

.F_btn{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 40px;
    box-sizing: border-box;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #000;
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
}

.F_btn:hover{
    border: none;
    background-color: #000;
    color: #fff;
    font-weight: bold;
}

.tab_content2{
    position: relative;
}

.time_box{
    width: 350px;
    height: 408px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    top: 182px;
    right: 140px;
}

.box_name:nth-child(1){
    padding-top: 10px;
}

.box_name{
    font-size: 24px;
}

.box_text:nth-child(1){
    padding: 5px 0px;
}

.small_text{
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 30px;
}

.box_text{
    font-size: 32px;
}

.box_text_2{
    font-weight: 400;
}

/* 고객센터 완료 */


/* 3번째 광고 배너 */

#meal_kit_banner_wrap_final{
    min-width: 1400px;
}

.meal_kit_banner_3{
    margin: 0 auto;
    height: 340px;
    background-image: url(../img/banner_3.png);
    background-position: center;
    background-repeat: no-repeat;
}

/* footer 부분 */

#footer_wrap{
    min-width: 1400px;
    background-color: #00534C;
}

.footer{
    margin: 0 auto;
    width: 1320px;
    height: 350px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f_sub{
    display: flex;
    gap: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin: 40px 0px 50px 0px;
}

.f_sub>li>a:hover{
    color: #ef790b;
}

.f_sub_2{
    display: flex;
    color: #fff;
    gap: 60px;
    margin: 20px 0px;
    font-weight: 400;
    font-size: 16px;
}

.f_content>p{
    font-size: 16px;
    color: #fff;
}

.sns{
    display: flex;
    gap: 20px;
}

.sns>li>a:hover{
    filter: invert(51%) sepia(66%) saturate(1810%) hue-rotate(357deg) brightness(96%) contrast(95%);
}